{% extends 'base.html.twig' %}
{%block a8%}
  <li>
    <a href="{{ path('utilisateur') }}" class="active" >
      <i class="icon">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-badge" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v11.755S4 12 8 12s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
          <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM6 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </i>
      <p>utilisateurs</p>
    </a>
  </li>
{%endblock a8%}
{%block page%}utilisateur{%endblock page%}
{% block title %}Tennis Club Montigny-en-Gohelle{% endblock %}

{% block body %}


<table id="">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Identifiant</th>
    <th>Mot de Passe</th>
    <th>Rôle</th>
    <th><button id="myBtn" class="bt btnadd">Ajouter</button></th>
  </tr>
  {% for user in resU %}
  <tr>
    <th scope="row">{{user.id}}</th>
    <td>{{user.nom}}</td>
    <td>{{user.prenom}}</td>
    <td>{{user.login}}</td>
    <td>{{user.mdp}}</td>
    <td>{% for role in user.roles %}
     {% if role == 'ROLE_SUPERADMIN' %}
     Administrateur
     {% endif %}
     {% if role == 'ROLE_LICENCIE' %}
     Licencié(e)
     {% endif %}
    <br>
    {% endfor %}
    </td>
    <td>
      <form action="{{ path('deleteUser',{'iduser':user.id}) }}" method="post">
        <button  class="bt btndelete">Supprimer</button>
      </form>
      <br/>
      <form action="{{ path('modifyUser',{'iduser':user.id}) }}" method="post">
        <button  class="bt btnmodifier">Modifier</button>
      </form>
    </td>
  </tr>
{% endfor %}
</table>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>
      <form action="{{ path('newUser') }}" method="post">
        <label ><b>Nom d'utilisateur</b></label>
        <br/>
        <input type="text" placeholder="Enter Username" name="nom">
        <br/>
        <label><b>Prénom</b></label>
        <br/>
        <input type="text" placeholder="Prénom" name="prenom">
        <br/>
        <label><b>Identifiant</b></label>
        <br/>
        <input type="text" placeholder="Prénom" name="login">
        <br/>
        <label><b>Mot de passe</b></label>
        <br/>
        <input type="text" placeholder="Prénom" name="mdp">

        <button type="submit" class="bt btnadd" style="margin-right:60%">Ajouter</button>
      </form>
    </p>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
</div>
{% endblock %}
