<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tennis Club Montigny-en-Gohelle{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="./css/tcm.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link rel="icon" href="../img/tcmlog.ico" />
        <script src="./js/tcm.js"></script>

        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>

      <div class="">
        <div class="navbar">
          <p>{%block page%}Accueil{%endblock page%}</p>
        </div>
        <div class="sidebar">
          <p class="titre"></p>
          <div class="scrollbar" id="style-2">
            <div class="force-overflow">
              <div class="sidebar-wrapper">
                <ul class="nav">
                  {%block a1%}
                    <li><a href="/" class=""><i class="icon">o</i><p>Accueil</p></a></li>
                  {%endblock a1%}
                  {%block a2%}
                    <li><a href="{{path('position')}}"><i class="icon">o</i><p>Où sommes-nous?</p></a></li>
                  {%endblock a2%}
                  {%block a3%}
                    <li><a href="{{path('contact')}}"><i class="icon">o</i><p>Nous contacter</p></a></li>
                  {%endblock a3%}
                  {% if is_granted('ROLE_LICENCIE') %}
                    {%block a7%}
                      <li><a href="{{ path('reservation') }}"><i class="icon">o</i><p>Réservation</p></a></li>
                    {%endblock a7%}
                  {%endif%}
                  {%block a4%}
                    <li><a href="{{path('tournoi')}}"><i class="icon">o</i><p>Tournoi</p></a></li>
                  {%endblock a4%}
                  {%block a5%}
                    <li><a href="{{path('direct')}}"><i class="icon">o</i><p>Direct</p></a></li>
                  {%endblock a5%}
                  {% if not is_granted('ROLE_LICENCIE')%}
                    {%block a6%}
                      <li><a href="{{ path('security_login') }}"><i class="icon">o</i><p>Esapce licencié</p></a></li>
                    {%endblock a6%}
                  {%endif%}
                  {% if is_granted('ROLE_SUPERADMIN') %}
                    {%block a8%}
                      <li><a href="{{ path('utilisateur') }}"><i class="icon">o</i><p>utilisateurs</p></a></li>
                    {%endblock a8%}
                  {%endif%}
                  {% if is_granted('ROLE_ADMIN') %}
                    {%block a9%}
                      <li><a href="{{ path('player') }}"><i class="icon">o</i><p>Joueurs tournoi</p></a></li>
                    {%endblock a9%}
                  {%endif%}
                  {% if is_granted('ROLE_LICENCIE') %}
                      <li><a href="{{ path('security_logout') }}"><i class="icon">o</i><p>Déconnexion</p></a></li>
                  {%endif%}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          {% block body %}{% endblock %}

          {% block javascripts %}{% endblock %}
        </div>
      </div>
    </body>
</html>
